*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 800px;
    padding: 100px 200px 0 200px;
}

.user{
    position: absolute;
    top: 180px;
    left: 270px;
}

.user-circle{  
    height: 150px;
    border: 5px solid lightgray;
    border-radius: 50%
}

.card-top{
    background-color: rgb(55, 154, 189);
    height: 150px;
}

.card-bottom{
    background-color: white;
    height: 250px;
    padding-top: 90px;
    padding-left: 50px;
    border: 3px solid lightgray;
    border-top: none;
}

.jane{
    font-size: 60px;
    margin-bottom: 15px;
}

.map-line, .gear-line{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.marker, .gear{
    height: 25px;
    margin-right: 10px;
}

.paragraph-line{
    font-size: 20px;
    margin: 20px 0 20px 0;
}
