*{
    font-family: sans-serif;
}

h1{
    background-color: black;
    color: white;  
    padding: 10px;
}

span{
    color: aquamarine;
}

h3{
    color: white;
    background-color: purple;
    text-align: center;
    padding: 10px;
}

h4{
    color: purple;
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
    padding: 10px;
}