body{
    margin-top: 40px;
    height: 300px;
}

*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.col, .col-2, .col-3{
    background-color: darkcyan;
    color: white;
    padding: 15px;
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.col{
    flex: 1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}