
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* THIS IS WHERE THE HEADER CSS STARTS */

h1{
    color: white;
}

.header{
    background-color: black;
    padding: 20px 124px 20px 287px;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.active{
    color: white;
}

a{
    color: lightgrey;
    text-decoration: none;
}

.btn{
    border: 2px solid black;
    background-color:  rgb(55, 154, 189);
    color: white;
    padding: 5px 20px 5px 20px;
}

/* THIS IS WHERE HEADER CSS STOPS */

/* THIS IS WHERE MAIN CSS STARTS */

.jane-postition{
    position: relative;
    top: 80px;
    left: 200px; 
}

.jane-pic{
    height: 120px;
    border-radius: 50%;
    border: 5px solid rgb(46, 39, 39);
}

.main{
    height: 800px;
    padding: 0 125px 0 125px;
    display: flex;
    justify-content: space-between;
}

.left-panel{
    width: 600px;
    padding-top: 40px;
}

.upper-left-body, .lower-left-body, .upper-right-body, .lower-right-body, .lower-right-footer{
    border: 3px solid lightgray;
    border-top: none;
}

.lower-left-body{
    border-bottom: none;
}


.upper-left-box{
    background-color: white;
    border-top: none;
}

.upper-left-header{
    background-color: rgb(55, 154, 189);
    height: 100px;
}

.upper-left-body{
    padding: 80px 0 40px 20px;
}

.map-line{
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 30px;
}

.paragraph-line{
    padding-left: 15px;
    margin: 10px 0
}

.gear-line{
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 30px;
}

.gear-line > a{
    color: blue;
    text-decoration: underline;
}

.lower-left-box, .lower-right-box{
    margin-top: 50px;
}

.lower-left-header{
    color: lightgrey;
    font-size: 25px;
    padding: 15px 0 0 20px;
}

.lower-left-header, .upper-right-header, .lower-right-header{
    background-color:rgb(46, 39, 39); 
    height: 50px;
}

.lower-left-body{
    background-color: white;
    height: 200px;
    padding: 20px 0 0 20px;
}

.ed-line-1{
    font-size: 30px;
    color: rgb(46, 39, 39);
}

.ed-line-2{
    font-size: 20px;
    color: lightgray;
    margin: 15px 0 15px 0;
}

.ed-line-3{
    font-size: 20px;
    color: rgb(46, 39, 39);
}
.right-panel{
    width: 400px;
    padding-top: 40px;
}

.upper-right-header, .lower-right-header{
    display: flex;
    align-items: center;
    color: lightgrey;
    font-size: 25px;
}

.two-border{
    background-color: lightgrey;
    color: rgb(46, 39, 39);
    border-radius: 50%;
    width: 30px;
    text-align: center;
    margin-left: 15px;
}

.five-hundred-border{
    background-color: lightgrey;
    color: rgb(46, 39, 39);
    border-radius: 50%;
    width: 90px;
    text-align: center;
    margin-left: 15px;
}

.right-header-paragraph{
    margin-left: 20px;
}

.upper-right-body{
    height: 150px;
    padding: 30px 20px 0 20px;
}

.inner-left-todd-box{
    display: flex;
    align-items: center;
    flex: 1
}

.inner-middle-todd-box{
    flex: 3;
}

.inner-right-todd-box{
    display: flex;
    align-items: center;
    flex: 2;
}

.phil-box{
    margin-top: 15px;
}

.inner-left-phil-box{
    display: flex;
    align-items: center;
    flex: 1
}

.inner-middle-phil-box{
    flex: 3;
}

.inner-right-phil-box{
    flex: 2;
    display: flex;
    align-items: center;
}
.lower-right-body{
    padding: 20px 20px 0 20px;
    height: 280px;
}

.connection-box{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.lower-right-footer{
    padding: 20px 20px 0 20px;
    height: 50px;
}
/* THIS IS WHERE MAIN CSS ENDS */

/* IMAGE AND TEXT STYLING */

.jane{
    font-size: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.dojo-name{
    font-size: 30px;
    color: rgb(46, 39, 39);
}

.dojo-dude{
    margin-right: 30px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
}

.icon-style{
    height: 50px;
}

.accept-icon{
    margin-right: 15px;
}
.marker, .gear{
    height: 25px;
    margin-right: 10px;
}

.lower-right-footer > a{
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}

